@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

*,*::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background: #252836;
  color: #fff;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}